* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter';
  margin: 0;
  user-select: none;

  background-color: #202020;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
