.root {
  display: flex;
  height: 29px;
  background-color: #ffffff;
  color: black;
  align-items: center;
}

.appIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 29px;

  & > * {
    width: 16px;
    height: 16px;
  }
}

.title {
  flex: 1;
  font-size: 12px;
  -webkit-app-region: drag;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 29px;

  &:hover {
    background-color: #cfcfcf;
  }
  &:active {
    background-color: #b3b3b3;
  }

  &.close:hover {
    background-color: #ff0000;
  }
}
